APP_NAME="Gestión Empresas FFE"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# Base de datos
# Con Docker: DB_HOST=mysql | Sin Docker: DB_HOST=127.0.0.1
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=gestion_empresas
DB_USERNAME=ffe_user
DB_PASSWORD=cambia_esto
DB_ROOT_PASSWORD=cambia_esto_root

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database
CACHE_PREFIX=

# Correo electrónico
MAIL_MAILER=smtp
MAIL_HOST=smtp.tucentro.es
MAIL_PORT=587
MAIL_USERNAME=noreply@tucentro.es
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@tucentro.es
MAIL_FROM_NAME="${APP_NAME}"

# Convenios
CONVENIO_VIGENCIA_ANOS=4
CONVENIO_ALERTA_MESES=3

# LDAP
# Con gestion-ldap dockerizado: LDAP_HOST=gestion-ldap-app
# Con LDAP corporativo propio:  LDAP_HOST=ip-de-tu-servidor
LDAP_LOGGING=false
LDAP_CONNECTION=default
LDAP_HOST=gestion-ldap-app
LDAP_PORT=389
LDAP_BASE_DN=dc=tucentro,dc=local
LDAP_USERNAME=cn=admin,dc=tucentro,dc=local
LDAP_PASSWORD=
LDAP_SSL=false
LDAP_TLS=false
LDAP_TIMEOUT=5
LDAP_APP_GROUP=ffe_users

# Identidad del centro
CENTRO_NOMBRE="IES Tu Centro"
CENTRO_NOMBRE_CORTO="IES Tu Centro"
